# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np

In [26]:
for c in country:
    data.update({'國家': ["Hong Kong", "Taiwan", "United Kingdom", "United States of America", "Japan", "Romania", "Philippines", "New Zealand", "Mexico", "India"], 
                 '人口': np.random.randint(100000000,size=10)})
data = pd.DataFrame(data)

In [27]:
data

                         國家        人口
0                 Hong Kong  13660080
1                    Taiwan   2401822
2            United Kingdom  99188267
3  United States of America  31110768
4                     Japan  96646140
5                   Romania  16139675
6               Philippines  18371180
7               New Zealand  99702852
8                    Mexico  34109941
9                     India  46090911

In [28]:
data["國家"][data["人口"].idxmax()]

'New Zealand'